.hidden{
  display: none;
}

main{
  margin-left: 20px;
  margin-right: 20px;
}

#card{
  border: solid black;
}
.cityStorage{
  list-style-type: none;
  padding: 20px;
}

.weatherh1{
  text-align: center;
  background-color: blueviolet;

}

.favorable {
  background-color: rgb(28, 153, 49);

}
.moderate{
  background-color: yellow;

}
.severe{
  background-color: red;

}
